
<div class="wrapper">
  <div class="main">
    <div class="section">
      <div class="container">
        <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 ">
          <h3 class="title-uppercase">New Stamp</h3>
          <p>&nbsp;</p>
          <%= render 'form' %>
          <p>&nbsp;</p>
          <%= link_to 'Back to list', stamps_path %>
        </div>
      </div>
    </div>
  </div>
</div>

