<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <table>
      <% @stamp.attribute_names.each do |f| %>
          <tr>
            <td><label><%= f %>:</label></td>
            <td><%= @stamp[f] %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>




